window {
    margin: 0px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #2e3440;
    font-family: "Sans";
    font-size: 16px;
}

#input {
    margin: 0px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #3b4252;
    color: #d8dee9;
}

#prompt {
    margin-bottom: 0;
    font-weight: bold;
}

#main {
    margin: 0px;
    padding: 0px;
}

#entry {
    display: none;
}

#list {
    display: none;
}

